.navbar {
    padding: 0px;
    background-color: #eee;
    display: flex;
    align-items: center;
}

.container-fluid {
    position: relative;
    flex-wrap: wrap;
}

.ShopSmartCity {
    font-size: 27px;
    font-weight: bolder;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.username {
    font-size: medium;
    font-weight: 600;
    margin-left: auto; 
    margin-right: 40px;
}

.user-icon {
    margin-right: 15px;
    margin-top: 2px;
}

#iconOfSmartShopCity {
    margin-right: 8px;
    margin-top: 5px;
}

.add-product-bar{
    background-color:#eee;
    margin: 90px 0px 0px 60px;
    width: 90vw;
    padding: 10px 20px 10px 20px;
    font-size: larger;
    font-weight: 600;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    

}

.add-product {
    margin-top: 80px;
    width: 30vw;
    background-color: #eee;
    border-radius: 12px;
    box-shadow : 20px 20px 30px rgba(49, 49, 49, 0.5);
}

.add-product-modal{
    display: grid;
    background-color:#eee ;
    bottom: 1rem;
    padding: 1rem 1rem ;
    border-radius: 1rem;
}

.custom-modal-dialog {
    width: 33vw;
}

.modal-dialog-catalogue {
    width: 60vw;
}

.add-product-form-catalogue {
    overflow-x: auto;
    white-space: nowrap;
    height: 80vh;

}

.image-wrapper {
    display: flex;
    overflow-x: auto;
}

.image-wrapper img{
    margin-right: 20px;
    height: 300px;
    width: 200px;
}

.image-container {
    text-align: center;
    margin-bottom: 10px;
}

.image-title {
    font-size: 14px;
    font-weight: bold;
}

.ctalogue-form-input{
    margin: 20px;
}

.ctalogue-form{
    margin-top: 30px;
    position: relative;
}

.ctalogue-form-input-button{
    position: absolute;
    right: 30px;
}

.add-product-form{
    display: grid;
    align-items: center;
    justify-content: center;
}


.form-control {
    font-size: 1.1rem;
}


.form-control:focus {
    box-shadow: none;
    border-color: #ced4da; 
}



.modal-title {
    font-size: larger;
    font-weight: 800;
}

.add-product-btn {
    margin-top: 15px;
    font-size: large;
    font-weight: 600;
}

.row {
    width: 25vw;
}

.image-label {
    font-size: small;
    color: rgb(74, 74, 74);
}

#add-product-btn {
    font-size: larger;
}

[data-add-product-btn] {
    font-size: large;
    font-weight: 600;
    margin-right: -11px;
    padding-left: 25px;
    padding-right: 25px; 
}

[data-add-catalog-btn] {
    font-size: large;
    font-weight: 600;
    margin-right: 5px;
    padding-left: 25px;
    padding-right: 25px;
}

.table {
    width: 90vw;
    margin-left: 60px;
}

.edit-delete-btn {
    margin: 15px 1px 10px 1px;
}

.btn-primary{ 
    background-color: #eee;
    border-color: rgb(74, 74, 74);
    color: rgb(74, 74, 74);
}

 /*footer*/
 .footer{
    width: 100%;
    background-color:#08011b;
  } 
  .footer_container{
    width: 90%;
    margin: 0 auto;
  }
  .footer_top{
    display: flex;
    justify-content:left;
    flex-wrap: wrap;
    gap: 200px;
    padding: 15px 0;
  }
  .contact , .ssc{
    max-width: 250px;
  }
  .footer h4{
    color:#eee;
    margin-bottom: 20px;
  } 
  .footer .list{
    display: flex;
    flex-direction: column;
    transform: color 0.25s;
    color:#eee;
    padding-left: 0;
    width: max-content;
    margin-bottom: -10px;
    margin-left: 10px;
  }
  .footer li a{
    position: relative;
    cursor: pointer;
    padding: 4px 0;
    transition: 0.5s;
    text-decoration: none;
    color:var(--white);
  
  }
  .footer li{
    display: block;
    text-decoration: none;
    width: fit-content;
    margin-bottom: 0;
  } 
  .footer li a::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    border-radius: 25px;
    top: 100%;
    left: 0;
    background:#198754;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
  } 
  .footer li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  } 
  .footer_divider{
    height: 1.5px;
    width: 100%;
    background-color: #393E46;
    margin-bottom: 10px;
  }
  .footer_bottom{
    color:#eee;
    font-size: 1rem;
    padding-bottom:10px;
  }
  







